BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AccessModifierOffset: -4
SortIncludes: CaseSensitive
ReflowComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left