BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AccessModifierOffset: -4
SortIncludes: CaseSensitive
ReflowComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left